<%provide(:title,'Home')%>
<!DOCTYPE html>
<html>
	<head>
		<title>Ruby on Rails Tutorial Sample App | Home</title></head>
		<div class="center hero-unit">
			<h1>Welcome to the Sample App</h1>
			<h2>
 				This is the home page for the 
				<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
				sample application.
			</h2>
			<%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
		</div>

		<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<!--

		<div class="center hero-unit">
			<h1>Sample Rails application</h1>
			<p>Find me in app/views/static_pages/home.html.erb</p>
			<p> Current time: <%= Time.now %> </p>
		</div>

		<form action="" method="GET">
		  <p>User name: <input name="name" value="<%= @name%>" /></p>
		  <p>Password : <input name="pass" value="<%= @pass%>" /></p>
		  <input type="submit" value="Submit"/>
		</form>

		<% if @buffer then %>
		<%= @buffer%>
		<%end %>

		<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a><br>
		<a href="http://railstutorial.org/help">Rails Tutorial help page</a>
-->

</html>